.socialmedia {
    text-align: center;
    background: #fff;
    height: auto;
    width: 250px;
    margin: 5px;
    border-radius: 15px;
    font-size: 35px;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5), 0 16px 20px 0 rgba(0, 0, 0, 0.2);
}
.socialmedia, a {
    color: #3c3c3c;
    font-size: larger;
}
a.fa-brands {
    text-decoration: none;
    padding: 5px;
}
.socialmedia h4 {
    font-size: 25px;
    margin: 5px;
    padding: 10px;
}
.footer {
    background: #cb9d48;
    padding: 20px 0;
}
p a:hover {
    color: #fff;
    padding: 1px;
}
p a {
    transition: all 0.3s ease;
}
.socialmedias a{
    display: block;
    height: auto;
    transition: all 0.3s ease;
}
.smedia {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.socialmedias a:hover {
    padding-left: 1px;
}
hr.footerline {
    color: #fff;
    border: 2px solid;
    margin-bottom: 5px;
}
.rightreserved {
    text-align: center;
    color: #fff;
}
