*{
    margin: 0;
    padding: 0;
    text-decoration: none ;
}

.nav-bg{
    background-color: #FACED3;
}
.btn-bg{
    background-color: #E2495B;
}
.text-color{
    color: #E2495B !important;
}
.fs-small{
    font-size: 14px !important;    
 }
.fs-normal{
    font-size: 16px !important;
}
.fs-medium{
    font-size: 19px !important;
}
  
.fs-large{
    font-size: 25px !important;
}
  
.fs-xlarge{
    font-size: 30px !important;
}
  
.fs-xxlarge{
    font-size: 35px !important;
}
.fs-xxxlarge{
    font-size: 50px !important;
}

.btn:hover{
    background-color: #d42c3f !important;
}

.top-text{
    /* position: absolute; */
    margin-left: 20rem !important;
    top: -10rem !important;
}